body {
      /*position: relative; */
      overflow-x: hidden;
      margin: 0;
      background: #ecf0f1;
}

.bgimg1 {
	height:500px; 
	background: url(../images/bg.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-attachment: fixed; 
	background-size: cover;
	opacity: .7;
}

.bgimg2 {
	height:100px; 
	background: url(../images/bg2.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-attachment: fixed; 
	background-size: cover;
	opacity: .7;
}

.bgimg3 {
	height:50px; 
	background: url(../images/bg.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-attachment: fixed; 
	background-size: cover;
	opacity: .7;
}

.navbar {
	background: transparent;
	height: 100px;
	border: 0;	
	display: inline-block;
}

.navbar-toggle span.icon-bar {
	/*background-color: rgb(255,223,0);*/
	background-color: #CFB53B;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 340px;
    width: 100%;
    /*background: rgb(1, 75, 99);*/
}

.scrolled {
	height: 50px;
    /*background: rgb(1, 75, 99);*/
    background: #07575b;
}

ul.nav li a {
	/*color: rgb(255,223,0);*/
	color: #CFB53B;
	font-weight: bolder;
}

ul.nav li a:hover, ul.nav li a:focus:hover {
	/*background: rgb(255,223,0);*/
	/*color: rgb(1, 75, 99);*/
	background: #CFB53B;
	color: #07575b;
	font-weight: bolder;
}

ul.nav li a:focus {
	background: transparent;
	/*color: rgb(255,223,0);*/
	color: #CFB53B;
	font-weight: bolder;	
}

.nav .open>a, .nav .open>a:focus {
    background-color: transparent;
    /*color: rgb(255,223,0);*/
    color: #CFB53B;
}

ul.dropdown-menu {
	/*background: rgb(1, 75, 99); */
	background: #07575b;
}

.text {font-size: 18px;}
.upper {text-transform: uppercase;}
.text-justify {text-align: justify-all;}
.text-indent {text-indent: 50px;}
.text-title {font-size: 1.5em; font-weight: bolder;}
.text-bolder {font-weight: bolder;}

div.caption {
    position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
    text-align: center;
    /*color: rgb(1, 75, 99);*/
    color: #07575b;
}

div.caption img {
	margin-bottom: 3%;
}

div.caption span.border, div.caption2 span.border {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: bolder;
}

.desc {
	/*background-color: rgb(1, 75, 99);*/
	background-color: #07575b;
	color: #fff;
	margin: 0;
	padding-top: 30px;
	min-height: 200px;
}

hr.line {
    display: block;
    height: 1px;
    width: 30%;
    border: 0;
    border-radius: 5px;
    border-top: 5px solid #07575b;
    margin: 1em 35%;
    padding: 0;
}

hr.line2 {
    display: block;
    height: 1px;
    width: 30%;
    border: 0;
    border-radius: 5px;
    border-top: 5px solid #ecf0f1;
    margin: 1em 35%;
    padding: 0;
}

.latest-news {
	position: relative;
	/*background: #003b46;*/
	margin: 0;
}

.col-post {
	/*display: inline-block;*/
	/*float: none;*/
	margin: 2%;
	box-shadow: 3px 3px 5px #2c7873;
}

.thumb-container {
  background: #2c7873;
  /*border: 1px solid #2c7873;*/
  border-radius: 5px 5px 0 0;
  height: 250px;
}

.title-container {
  background: #fff;
  /*border: 2px solid #2c7873;*/
  padding-top: 3%;
  color: #2c7873;
  height: 70px;
  border-bottom: 5px solid #2c7873;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title-container p {
  margin: 0;
}

.section-title {
	min-height: 80px;
	background: transparent;
	/*color: #07575b;*/
	padding-top: 40px;
	margin: 0;
}

.color-silver {color: #ecf0f1;}
.color-aqua {color: #07575b;}

#owl-demo .item{
  /*background: #3fbf79;*/
  /*padding: 30px 0px;*/
  margin: 20px;
  /*color: #FFF;*/
  /*-webkit-border-radius: 3px;*/
  /*-moz-border-radius: 3px;*/
  /*border-radius: 3px;*/
  /*text-align: center;*/
}
.customNavigation{
  text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.btn.prev, a.btn.next {
	background: #07575b;
	color: #ecf0f1;
}

ul.nav-pills {
  top: 30%;
  position: fixed;
  z-index: 1000;
}

ul.nav-pills li a {
	color: #000;
	font-size: 30px;
	background: transparent;
	opacity: .8;
}

ul.nav-pills li a:hover, ul.nav-pills li a:focus, ul.nav-pills li a:hover:focus {
	background: transparent;
	opacity: 1;
	font-weight: bolder;
	color: #000;
}

.no-content {
	height: 800px;
}

.bg-aqua {
	background: #07575b;
}

.bg-silver {
    background: #ecf0f1;
}

.suggestion {
	min-height: 130px;
	background: #CFB53B;
	padding-top: 1.5%;
}

.footer {
	min-height: 375px;
	background: #07575b;
}

a.btn-aspirasi {
	background: transparent;
	color: #07575b;
	border: 2px solid #07575b;
	border-radius: 3px;
	font-weight: bolder;
	font-size: 20px;
}

a.btn-aspirasi:hover {
	background: #07575b;
	color: #CFB53B;
}

.contact-icon {
	border: 5px solid #ecf0f1;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	font-size: 45px;
	padding: 5px;
	margin: 0 auto;
}

.notice {
	min-height: 50px;
	font-weight: bolder;
	padding-top: 1.5%;
}

.centered {margin: 0 auto;}